.card {
    display: flex;
    justify-content: space-around;
    background-color: #f9eae1;
    border-bottom: 5px solid #aa998f;
    margin: auto;
    width: 800px;
}

.card-img img {
    width: 250px;
    height: 300px;
    margin-top: 5px;
}

.card-text {
    font-family: Inter, Sans-serif;
    text-align: center;
    color: #7d4f50;

}

.card-text p {
    margin-top: 10px;
}